body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post-it {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: #ffd57e;
    border: 2px solid #ffab44;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    perspective: 1000px;
    margin: 20px;
  }
  
  .post-it p {
    margin: 0;
  }
    